.imgStlying {
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 100%;
}
.imgStlying * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}
.imgStlying:hover {
  transition-delay: 0ms, 0ms;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.imgStlying {
  display: block !important;
  width: 300px !important;
  height: 300px !important;
  margin: auto;
}
.homeContentContainer {
  text-align: center;
  margin-top: 40px;
}
.homeContentTitle {
  display: inline-block;
}
.homeContentDescription {
  text-align: justify;
}
.someMarginBototm {
  margin-bottom: 6.5% !important;
}
p {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8 !important;
  text-rendering: optimizeLegibility !important;
}
a {
  color: #ae271c !important;
  font-weight: bold;
}
.hero {
  background-color: #ae271c;
  border-color: #ae271c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  letter-spacing: 0.08313rem;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
}
.title {
  text-align: center;
  font-weight: normal;
  color: white !important;
  font-family: "Arvo";
  font-size: 2em;
}
