h1 {
  color: #ae271c !important;
  font-weight: bold;
}
a div.item {
  color: #ae271c !important;
  line-height: inherit !important;
  font-weight: bold !important;
}
.show {
  display: flex !important;
}
.hidden {
  display: none !important;
}
